.tool-versions
.python-version

__pycache__
*.pyc
*.pyo
.mypy_cache
.pytest_cache
.tox
.cache
.coverage
/pip-wheel-metadata
/*.egg-info
.direnv/

# This is a library, don't need to lock down
poetry.lock

/dist/

# ignore PyCharm config
/.idea/
